* {
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:aliceblue;
}

body {
    margin: auto;
    background-color: rebeccapurple;

    height: 100svh;
    max-width: 1024px;
    padding: 2em 0 0 0 ;
}

.content {
    align-items: center;
    gap: 8px;
}

.description {
    flex: 2 1 0;
}

.images {
    flex: 1 1 0;
}

.links {
    gap: 1em;
}

.pages {
    flex-grow: 1;

    gap: 0.5em;
}

.topbar {
    gap: 1em;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
